.categoriesContainer{
    position: fixed;
    z-index: 999;
    top: 100px;
    height: calc(100vh - 100px);
    width: 100vw;
    background: rgba(0, 0, 0, 0.342);
    opacity: 0;
    pointer-events: none;
    & > div{
        width: max-content;
        overflow: visible;
        position: absolute;
        z-index: 999;
        left: 200px;
        .bar{
            height: 25px;
            top: -17px;
            position: absolute;
            width: 100%;
            left: 5px;
        }
        .triangle{
            position: absolute !important;
            right: 30%;
            top: -17px;
            font-size: 25px !important;
            transform: rotate(-90deg);
            color: rgb(35,35,35);
        }
        .categoriesList{
            background: rgb(35,35,35);
            color: #fff;
            border-radius: 8px 8px 0 0;
            width: max-content;
            padding: 13px 0;
            display: flex;
            flex-direction: column;
            gap: 7px;
            left: 5%;
            overflow-y: scroll;
            position: relative;
            height: calc(100vh - 100px);;
    
            & a {
                text-decoration: none;
                color: #fff;
                & > div{
                    font-size: 13px;
                    padding: 8px 25px;
                    width: 100%;
                    cursor: pointer;
        
                    &:hover{
                        background: rgb(47, 109, 189);
                    }
                }
            }
        }
    }
}