.categories {
    padding: 0 15px 32px;
    margin: 0 auto;
    max-width: 1200px;
    h1 {
        color: #4a4a4a;
        font-size: 22px;
        font-weight: 400;
        padding: 0;
        margin: 24px auto;
    }
    section{
        width: 100%;
        background: #fff;
        min-height: 100vh;
        border-radius: 7px;
    }
}