.navigationResponsive{
    background: $headerBackground;
    height: 87px;
    position: sticky;
    z-index: 999;
    top: 0;
    hr{
        
        background: #85858556;
        height: 1px;
        border: none;
        outline: none;
        display: block;
        margin-top: 10px;
    }
    & > div{
        display: flex;
        width: 100%;
        padding: 7px 7px 0;
        justify-content: space-between;
        @media screen and (max-width:750px){
            justify-content: center;
            gap: 7px;
        }
        a img{
            width: 44px;
            height: 32px;
        }
        .inputSection{
            position: relative;
            width: 85%;
            @media screen and (max-width:750px){
                width: 83%;
            }
            & > input{
                width: 100%;
                border: none;
                outline: none;
                height: 32px;
                border-radius: 2px;
                box-shadow: 0 1px 2px 0 #00000033;
                padding-left: 30px;
                padding-top: 2px;
                font-size: 15px;
                color: black;
                &::placeholder{
                    color: #b6b6b6;
                }
            }
            & svg{
                position: absolute;
                z-index: 20;
                left: 15px;
                top: 25%;
                font-size: 14px;
                transform: translate(-50%) ;
                cursor: pointer;
                color: #b6b6b6;
            }
        }

        .icons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 7%;
            gap: 2px;
            @media screen and (max-width:750px){
                width: 10%;
                max-width: 60px;
                min-width: 50px;
            }
            color: #303030;
            & svg{
                font-size: 20px;
            }
            & .closeNav{
                font-size: 20px;
            }
        }
    }

    & > .shipments{
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 9px;
        & > div{
            align-items: center;
            display: flex;
            text-align: center;
            gap: 7px;
            padding: 7px 0 0 7px;
            font-size: 12px;
            svg{
                font-size: 15px;
            }
            p{
                padding-top: 5px;
            }
        }
        & > svg{
            font-size: 13px;
            color: #858585b7;
        }
    }
}