.productDetail {
    display: flex;
    background: #fff;
    width: 100%;
    max-width: 1184px;
    margin: 50px auto 0;
    min-height: 120vh;
    border-radius: 4px;
    padding-right: 16px;

    .images {
        display: flex;
        flex-direction: column;
        width: 6%;
        gap: 7px;
        padding: 7px 0 0 15px;
        overflow-y: scroll;
        max-height: 520px;

        div {
            cursor: pointer;
            height: 48px;
            width: 48px;
            border-radius: 4px;
            position: relative;

            img {
                border: 1px solid #8080807a;
                padding: 2px;
                object-fit: contain;
                // width: 100% !important;
                // height: 100% !important;
                height: 48px;
                width: 48px;
                border-radius: 4px;
            }

            .selected {
                outline: 2px solid $blueStandar;
            }
        }
    }

    .selectedImage {
        // width: 410px;
        width: 35%;
        padding: 16px;
        margin-top: 24px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 500px;

        img {
            max-height: 356px;
            object-fit: contain;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }

    .productDescription {
        width: 35%;
        max-width: 352px;
        padding-top: 40px;

        .new {
            font-size: 13px;
            color: #808080;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 22px;
            font-weight: 450;
            line-height: 1.28;
            // height: 55px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            /* number of lines to show */
            -webkit-box-orient: vertical;
            color: rgba(0, 0, 0, .9);
        }

        .price {
            display: block;
            font-size: 36px;
            margin-top: 10px;
            font-weight: 350;
        }

        .ratingContainer {
            display: flex;
            align-items: center;
            margin-top: 15px;
            gap: 15px;

            .stars {
                color: $blueStandar;
                display: flex;
                gap: 3px;
            }
        }

    }

    .paymentMethod {
        margin-top: 16px;
        width: 24%;
        flex-grow: 1;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, .1);
        padding: 25px 16px;

        &>.methods {
            display: flex;
            gap: 5px;
            margin-top: 5px;

            &>div:nth-child(1) {
                width: 62px;
                height: 20px;
                background: url(https://http2.mlstatic.com/secure/payment-logos/v2/payment-logos-mco-small_v_3866024fb1.png) no-repeat;
                background-position: left -152px;
            }

            &>div:nth-child(2) {
                width: 22px;
                height: 19px;
                background: url(https://http2.mlstatic.com/secure/payment-logos/v2/payment-logos-mco-small_v_3866024fb1.png) no-repeat;
                background-position: left -61px;
            }

            &>div:nth-child(3) {
                width: 29px;
                height: 24px;
                background: url(https://http2.mlstatic.com/secure/payment-logos/v2/payment-logos-mco-small_v_3866024fb1.png) no-repeat;
                background-position: left -82px;
            }
        }

        &>.infomation {
            text-decoration: none;
            color: $blueStandar;
            font-size: 13px;
        }

        & .sellerBy {
            font-size: 14px;
            margin-top: 12px;

            &>.seller {
                text-decoration: none;
                color: $blueStandar;
                font-size: 15px;
            }
        }

        &>.sold {
            font-size: 15px;
        }

        &>.shipments {
            display: flex;
            padding-top: 15px;
            gap: 5px;

            &>svg {
                color: #00a650;
                margin-top: 4px;
            }

            &>div {
                p:nth-child(1) {
                    color: #00a650;
                    margin-bottom: 2px;
                    font-weight: 400;
                }

                p:nth-child(2) {
                    font-size: 13.5px;
                    color: rgba(0, 0, 0, .55);
                }

                &>a {
                    text-decoration: none;
                    color: $blueStandar;
                    font-size: 13px;

                    svg {
                        margin-right: 5px;
                    }
                }
            }
        }

        &>.available {
            margin-top: 25px;
            font-size: 16px;
            font-weight: 500;
        }

        &>.quantity-container {
            margin-top: 25px;
            display: flex;
            justify-content: space-between;

            & .quantity {
                display: flex;
                cursor: pointer;
                align-items: center;
                position: relative;
                overflow: visible;
                .quantities{
                    position: absolute;
                    z-index: 100;
                    display: flex;
                    flex-direction: column;
                    top: 150%;
                    width: 200px;
                    background: #fff;
                    font-size: 18px;

                    -webkit-font-smoothing: antialiased;
                    background-color: #fff;
                    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1;
                    margin: 0;
                    padding: 0;
                    box-shadow: 0 8px 16px 0 #0000001a, 0 0 6px 0 #0000001a;

                    & > div{
                        height: 48px;
                        display: flex;
                        align-items: center;
                        padding: 8px;
                        &:hover{
                            background-color: rgba(0,0,0,.04);
                        }
                    }

                    & > .quantitySelected{
                        color: $blueStandar;
                        border-left: 2px solid $blueStandar;
                    }
                }
                &>h4 {
                    @extend .available;
                    font-weight: 400;
                }

                &>p {
                    margin-left: 10px;
                }

                & > svg{
                    margin-left: 3px;
                    color: $blueStandar;
                    transition: transform .5s;
                }
                & > .rotate{
                    transform: rotate(180deg);
                }
            }

            &>p {
                color: rgba(0, 0, 0, .55);
                font-size: 14px;
                font-weight: 400;
            }
        }

        &>.buyNowButton {
            margin-top: 25px;
            -webkit-font-smoothing: antialiased;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            border: none;
            outline: none;
            display: inline-block;
            font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
            font-size: 16px;
            font-weight: 500;
            height: 48px;
            line-height: 48px;
            padding: 0 24px;
            text-align: center;
            width: 100%;
            color: #fff;
            background: $blueStandar;
            transition: background .5s;

            &:hover {
                background: $blueStandarHover;
            }
        }

        &>.addToCartButton {
            @extend .buyNowButton;
            margin-top: 10px;
            background: $blueLigth;
            color: $blueStandar;

            &:hover {
                background: $blueLigthHover;
            }
        }
        & > .deleteFromCartButton{
            @extend .addToCartButton;
            background: $redLigth;
            color: $redDark;
            &:hover{
                background:$redLigthHover;
            }
        }
    }
}